.button {
    background-color: orange;
    height: 50px;
    width: 50px;
    margin: 5px;
    vertical-align: top;
}

.serif-font {
    font-family: 'Lora', serif;
}

.sans-font {
    font-family: 'Quicksand', sans-serif;
}
