.heading-subsection {
    size: m;
    margin-top: 30px;
    font-family: 'Quicksand', sans-serif;
}

.text-subsection {
    font-family: 'Quicksand', sans-serif;
}

.serif-font {
    font-family: 'Lora', serif;
}

.sans-font {
    font-family: 'Quicksand', sans-serif;
}
